body {
    color: white;
    text-align: center;
    align-items: center;
    background-image: url(https://research.binance.com/static/images/meta.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#counter {
    padding: 1%;
    position: fixed;
    top: 5px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#tableData {
    margin: auto;
    background-color: rgba(92, 75, 21, 0.5);
    font-family: 'Balsamiq Sans', cursive;
}

table,
td {
    padding: 1%;
    border-bottom: 1px solid rgb(243, 229, 189);
    text-align: center;
}

td:nth-child(5) {
    color: red;
}

td:nth-child(6) {
    color: red;
    font-weight: bold;
}

th {
    padding: 5px;
    border-right: 2px solid rgb(31, 28, 2);
}

#owner {
    color: whitesmoke;
    top: 5px;
    right: 10px;
    position: fixed;
}